<!doctype html>
<html lang="ko">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

  <title>OCR-based English Quiz System</title>

  <style>
    body {
      background-color: lightgrey;
    }

    #screen_one {
      margin-top: 30px;
    }

    .hide {
      display: none;
    }

    #btn_upload {
      width: 80vw;
      margin-top: 10px;
    }

    .w90 {
      width: 90vw;
      margin-top: 10px;
    }
    .btn-n{
      width: 90vw;
      margin-top: 20px;
    }
  </style>
  <!-- 여기가 주석  -->
</head>

<body>
  <nav class="navbar navbar-dark bg-secondary">
    <span class="navbar-brand mb-0 h1">OCR-based English Quiz System</span>
  </nav>
  <div id="screen_one">
    <div class="mx-auto text-center">
      <img src="img/logo.jpg" class="img-fluid">
      <br>
      <button type="button" id="btn_upload" class="btn btn-dark">Upload a image</button>
      <input type="file" id="open_file" class="hide" />
    </div>
  </div>
  <div id="screen_two" class="hide">
    <div class="mx-auto text-center">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title" id="title">Q1.question</h5>
          <p class="card-text" id="question">문제.정원호는 왜 성격이 급한가</p>
          <a href="#" class="btn btn-primary btn-n" id="option1">그러게요</a><br>
          <a href="#" class="btn btn-primary btn-n" id="option2">왜 그럴까요</a><br>
          <a href="#" class="btn btn-primary btn-n" id="option3">내가 알면 지금 이러고 있을까요</a><br>
          <a href="#" class="btn btn-primary btn-n" id="option4">안똑똑해서그래</a>
        </div>
      </div>
    </div>
  </div>

    <script>
      let quiz;
      let currentIdx = -1;

      let options = document.getElementsByClassName("btn-n");
      let win = 0;

      for (let i = 0; i < options.length; i++) {
        options[i].addEventListener("click", () => {
          if (!quiz)
            return;
          if (quiz[currentIdx][1] === options[i].innerText) {
            win+=1;
          }

          if (currentIdx < (quiz.length - 1)) {
            nextquestion();
          } else {
            alert(win);
          }
        });
      }

      const nextquestion = () => {
        currentIdx++;
        document.getElementById("title").innerText = "Q" + (currentIdx+1) + ".Question";
        document.getElementById("question").innerText = quiz[currentIdx][0] + " 의 뜻은?" ;

        let options = document.getElementsByClassName("btn-n");
        
        for (let i = 0; i < options.length; i++ ){
          let ri = Math.floor(Math.random() * quiz.length);
          options[i].innerText = quiz[ri][1];
        }
        let ri = Math.floor(Math.random() * 4);
        options[ri].innerText = quiz[currentIdx][1];
        
      };

      document.getElementById("btn_upload").addEventListener("click", () => {
        open_file.click();
      });

      document.getElementById("open_file").addEventListener("change", (e) => {
        let that = document.getElementById("open_file");

        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            let result = JSON.parse(this.responseText);
            quiz = new Array();
            for(let r in result) {
              question = new Array();
              question.push(r);
              question.push(result[r]);
              quiz.push(question);
            }
            win = 0;
            document.getElementById("screen_one").setAttribute("class","hide"); 
            document.getElementById("screen_two").setAttribute("class",""); 
            nextquestion();
          }
        };
        var formData = new FormData();

        formData.append("choose" , that.files[0]);
        xhr.open("POST" , "/upload" , true);
        xhr.send(formData);
      });
    /*
      메모
    var fileInput = document.getElementById("upload_file");

      var file = fileInput.files[0];

      var formData = new FormData();

      formData.append("upload_file" , file);



      var xhr = new XMLHttpRequest();

      xhr.open("POST" , "/upload/request_url" , true);

      xhr.send(formData);

      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById("demo").innerHTML = this.responseText;
        }
      };
      xhttp.open("GET", "ajax_info.txt", true);
      xhttp.send();
    */
      
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"></script>
</body>

</html>